

.attendanceBackground{
	background-image: url('/assets/images/attendance_watermark.png');
	height: 80vh;
	background-size: 100% auto;
	background-size: cover;
    background-position: 50% 50%;
}
/*.attendancePageCol4.tableData{
	
	
}*/

#AttendancePage_menuDiv{
	background-color: #e6e6e6;
}