.attendancePageCol1 {
	width: 40%;
}
.attendancePageCol2 {
	width: 20%;
}
.attendancePageCol3 {
	width: 20%;
}
.attendancePageCol4 {
	width: 20%;
}



.attendanceBackground{
	background-image: url('/assets/images/attendance_watermark.png');
	height: 80vh;
	background-size: 100% auto;

}

