#logoutBar_logo{
	z-index: 1; 
	position: absolute; 
	padding-top: 1%;
	background-color: #2f2f2f;
	padding-right: 17px;
	padding-bottom: 1%;
  	
}
#logoutBar_textDiv{
	z-index: 1; 
	position: absolute; 
	right: 0px;
	color: black;
}
#logoutBar_username, #logoutBar_logout {
	color: black;
	display: inline-block;
}

#logoutBar{
	background-color: #c30c0c;
	position: static;
	height: 22vh;


}

@media screen and (max-width: 767px){
	#logoutBar_logo{
		z-index: 1; 
		position: static; 
		top: 0px; 
		left: 0px;
		max-width: 100%;
		background-color: #ccc;
	}

	#logoutBar{
		background-color: #ccc;
		height: 15vh;
	}

	#logoutBar_textDiv {
    z-index: 1;
    position: static;
    left: 0px; 
    max-width: 46%;
    color: black;
	}
}




/*#logoutBar {
	background-color: #ccc;
	height: 15vh;
}

#logoutBar_textDiv {
	z-index: 1; 
	position: absolute; 
	right: 0px;

}

#logoutBar_logo{
	z-index: 1; 
	position: absolute; 

	
}

#logoutBar_username, #logoutBar_logout {
	color: black;
	display: inline-block;
}

@media screen and (max-width: 767px){
	#logoutBar_logo{
		z-index: 1; 
		position: static; 
		top: 0px; 
		left: 0px;
		max-width: 100%;
	}

	#logoutBar{
		background-color: #ccc;
		margin-right: -1px;
	}

	#logoutBar_textDiv {
    z-index: 1;
    position: static;
    left: 0px; 
    max-width: 46%;
	}
}
*/