#logoutBar_logo{
	z-index: 1; 
	position: absolute; 
	padding-top: 1%;
	padding-left: 1%;
	background-color: #343333;
	height: 15vh;
  	
}
#logoutBar_textDiv{
	z-index: 1; 
	position: absolute; 
	right: 0px;
	
}
#logoImg {
	text-align: center;
}
#logoutBar_username, #logoutBar_logout {
	font-family: 'Roboto Condensed', sans-serif;	
	color: #fcfbfb;
	display: inline-block;
	padding: 20px;
}

#logoutBar{
	background-color: red;
	position: static;
	height: 15vh;
	padding: 0px;
}


@media screen and (max-width: 767px){

	#logoutBar_logo{
		z-index: 1; 
		position: static; 
		max-height: 70%;
		max-width: 70%;
	}

	#logoutBar{
		background-color: #343333;
		height: 15vh;
	}

	#logoutBar_textDiv {
	    z-index: 1;
	    position: static;
	    left: 0px; 
	    max-height: 30%;
	    padding: 0px;
	}
	#logoutBar_username, #logoutBar_logout {
		padding: 0px 20px;
	}
}



