.ptag{
	color:#343333;
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 18px;
	padding-top: 5%;
	margin-left: 2%;
	margin-bottom: 5%;
}
.quesTut{
	color: black;
	font-family: 'Roboto Condensed', sans-serif; 
}
#resetButtTut{
	background-color: gray;
	font-size: 18px;
}
#submitTut{
	font-size: 18px;

}
.radioButtTut{
	color: black;
}


/*======================iPhone*/


@media screen and (max-width: 640px){
	.tutorInput{
		width:90%;
		margin-left: 4%;	
	}
	.tutTxt{
		margin-left: 5%;
	}
	#cohDropdown{
		margin-left: 7%;
		width: 85%;
	}
	.cohortSel{
		margin-left: 7%;
	}
	#weekDropdown{
		margin-left: 7%;
		width:85%;
	}
	.weekSel{
		margin-left: 7%;
	
	}
	.quesTut{
		font-size:22px;
		margin-left: 7%;
	}
	.leftSideTut{
		font-size: 17px;
		float:left;
		margin-left: 7%;
		margin-top: 1%;
	}
	.rightSideTut{
		font-size:17px;
		float:right;
		margin-right: 15%;
		margin-top: -4%;
		width: 35px;
	}
	.radioButtTut2{
		width: 35px;
		color:black;

	}
	.radioButtTut3{
		width:35px;
	}
	.lastQ{
		font-size: 22px;
		margin-left: 7%;
		padding-bottom: 3%;
	}
	.lastQInput{
		margin-left: 7%;
		width:85%;
		margin-bottom: 5%;
	}

}




