.TutorRequestPage_main{
	max-width: 100%;
    overflow-x: hidden;
  
}



.TutorRequestPage_p{
	color:#343333;
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 18px;
	margin: 4% 0% 2% 6%;
	width: 85%;
}

.TutorRequestPage_dropdownDiv{
	color: grey;
	font-size: 17px;
	margin: 0% 0% 0% 6%;
	width: 85%;
}

.TutorRequestPage_dropdownMenu{
	margin-left: 0px;
}

.quesTut{
	color: grey;
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 15px;
	margin-left: 6%;
}


#resetButtTut{
	background-color: grey;
	font-size: 18px;
	margin-left: 53px;
	color: white;
	margin-bottom: 20px;
	margin-right: 10px;
}

#submitTut{
	font-size: 18px;
	background-color: red;
	color: white;
	margin-bottom: 20px;

}
.radioButtTut{
	color: grey;
	font-size: 19px;

}

.TutorRequestPage_input{
	width: 85%;
	margin: 0% 0% 0% 6%;
}

.tutTxt{
	margin-left: 0;
}

.rightSideTut{
	float:right;
	margin: -4% 7% 0% 0%;
	color: grey;
	font-size: 15px;
}

.leftSideTut{ 
	float:left;
	margin-left: 6%;
	margin-top: 3%;
	color: grey;
	font-size: 15px;
}

.TutorRequestPage_comment{
	color:grey;
	font-size: 15px;
	width: 85%;
	margin-left: 6%;
}

.multRads3{
	margin: 2% 0% 2% 23%;
}

.radioButtTut2{
	color:grey;
	display: inline-block;
	font-size: 14px;
	margin-left: 15%;
}
.multiRads4


/*input[type=radio].bubble{
	width: 100%;
	margin-left: 39%;
}*/




/*================================iPad*/

@media screen and (max-width: 768px){
/*	.ptag{
		margin-right: 9%;
	}*/

/*	.tutorInput{
		margin-left: 2%;
		width:91%;
	}*/
	#cohDropdown{
		margin-left: 7%;
		width:82%;

	}
	.cohortSel{
		margin-left: 7%;

	}
	#weekDropdown{
		margin-left: 7%;
		width: 82%;
	}
/*	.tutTxt{
		margin-left: 5%;
	}*/
	.weekSel{
		margin-left: 
	}
	.quesTut{
		font-size: 22px;
		margin-left: 7%;
	}
	.radioButtTut2{
		color: black;
		font-size: 18px;
		display: inline-block;
		margin-left: 37px;
	}
	.multRads3{
		margin-left: 30%;
		margin-top: 3%;
	}
	.leftSideTut{
		margin-left: 7%;
		float: left;
		margin-top: 2%;

	}
	.rightSideTut{
		float: right;
		margin-right: 11%;
		margin-top: -32px;
	}

	.TutorRequestPage_comment{
		color: black;
		font-size: 22px;
		margin-top: 4%;
	}
/*	input[type=radio].bubble{
		width:20px;
		margin-left: -24px;
	}*/
	.cohortSel{
		color: black;
		font-size: 22px
	}
	.weekSel{
		color: black;
		margin-left: 7%;
		font-size: 22px
	}
	.multRads4{
		margin-left: 23px;
	}
	#submitTut{
		background-color: red;
		

	}
	#resetButtTut{
		margin-left: 26px;
	}



}
/*======================iPhone*/


@media screen and (max-width: 640px){
	.tutorInput{
		width:90%;
		margin-left: 4%;	
	}
	.tutTxt{
		margin-left: 5%;
	font-size: 13px;
	}
	#cohDropdown{
		margin-left: 8%;
		width: 83%;
	}
	.cohortSel{
		margin-left: 8%;
		font-size: 13px;
	}
	#weekDropdown{
		margin-left: 8%;
		width:83%;
	}
	.weekSel{
		margin-left: 8%;
		font-size: 13px;
	}
	.quesTut{
		font-size:13px;
		margin-left: 5%;
		color: black;
		margin-right: 16px;
	}
	.leftSideTut{
		font-size: 12px;
		float:left;
		margin-left: 8%;
		margin-top: 1%;
	}
	.rightSideTut{
		font-size:12px;
		float:right;
		margin-right: 15%;
		margin-top: -8%;
		width: 35px;
	}
	.radioButtTut2{
		width: 35px;
		color:grey;
		display: inline-block;
		margin-left: 12%;
		font-size: 12px;

	}
	.radioButtTut3{
		margin-left: 11%;
		color:grey;
		font-size: 12px;

	}

	.lastQ{
		font-size: 22px;
		margin-left: 7%;
		padding-bottom: 3%;
	}
	.lastQInput{
		margin-left: 7%;
		width:85%;
		margin-bottom: 5%;
	}
	.TutorRequestPage_comment{
		margin-left: 2%;
		color: black;
		font-size: 13px;
		margin-top: 5%;
	}
	#commentSpace{
		margin-left: 2%;
		width:95%;
	}
	input[type=radio].bubble {
		width:31%;
		margin-left: 26%;
	}
		
	.radioButtTut{
		width:3.3em;
		margin-right: -25px;
		margin-left: -24px;
		font-size: 13px;
	}
	
	.multRads3{
		margin-left: 26%;
	}
	.multRads4{
		margin-left: -1px;
	}

	.TutorRequestPage_p{
		font-size: 13px;
	}
	#submitTut{
		background-color: red;
		font-size: 13px;
		color: white;
	}
	#resetButtTut{
		margin-left: 7%;
		font-size: 13px;
	}
	.multRads3{
		margin-left: 29%;
	}

	.TutorRequestPage_commentLabel{
		margin-left:2%;
	}
	#TutorRequestPage_dropQues{
		font-size: 13px;
	}

}














