.announcementsBackground{
	background-image: url('/assets/images/announcements_watermark.png');
	height: 80vh;
	background-size: 100% auto;
	background-size: cover;
    background-position: 50% 50%;
}
