.syllabusPageCol1 {
	width: 55%;
}

.syllabusPageCol2 {
	width: 15%;
}

.syllabusPageCol3{
	width: 15%;
}

.syllabusPageCol4 {
	width: 15%;
}
#syllabus {
	color: #343333;
	margin: 5%;
	font-size: 22px;
	background-color:#D2D5D6;
	padding: 4%;
	margin:0;
}
