.NavBarLink_linkText{
	color: #ddd7d7;
	font-size: 14px;
	padding-left: 23px;
	text-decoration: none;
	display:block;
}

.NavBarLink_imageDiv{
	display: inline-flex;
    padding-left: 27%;
    padding-top: 4%;
    width: 100%;
   
    padding-bottom: 4%;
}

.NavBarLink_linkDiv:hover  {
	background-color: black;
	
}

#hover{
	display: inherit;
	
}
a:hover { 
    background-color: #343333;
    width: 212PX;
   
}

.NavBarLink_imageDiv:hover { 
	background-color: #343333;
    width: 100%;
}



a:visited{
	color: red;
}


@media screen and (max-width: 768px){
	.NavBarLink_imageDiv:hover { 
	background-color: #343333;
    width: 100%;
	}


}


@media screen and (max-width: 640px){



	
}


