.NavBarLink_linkText{
	color: #ddd7d7;
	font-size: 14px;
	padding-left: 40px;
}

.NavBarLink_imageDiv{
	display: inline-flex;
}

.NavBarLink_linkDiv{
	background-color: black;
<<<<<<< HEAD
	
=======
	text-align: center;
>>>>>>> 3320aab967ca85d46acba56c828355c840353da3
}