.sectionField{
	margin-right: -11px;
}

.sectionDiv{
	padding: 58px;
    background-color: #e4e3e3;
    margin-top: 29px;
    margin-bottom: 28px;
}

#sectionButton{
	width: 100%;
    color: white;
    padding-right: 53px;
    background-color: red;
}

@media screen and (max-width: 1200px){
	.sectionField{
		margin-right: 0;
	}

	#formBasicText{
		margin-bottom: 30px;
	}	

}