.sectionField{
	margin-right: -19px;
}

.sectionDiv{
	padding: 27px;
}

#sectionButton{
	width: 100%;
    color: white;
    padding-right: 53px;
}

@media screen and (max-width: 1200px){
	.sectionField{
		margin-right: 0;
	}

	#formBasicText{
		margin-bottom: 30px;
	}	

}