#adminButton{
	width: 100%;
	color: white;
}

.formTitle{
	color: #de0303;
    margin-left: 2%;
    font-size: 17px;
    margin-top: inherit;
}

.createUser{
	background-color: #e4e3e3;
    margin-top: 20px;
    margin-bottom: 4px;
    padding-top: 20px;
    padding-right: 52px;
    padding-bottom: 20px;
    padding-left: 52px;
}
.colorBlock{
	margin-bottom: 42px;
}
