#urlLinkButton{
    background-color: red;
    padding: 8px;
}



#urlInputField{
    padding-top: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 1px;
    color: grey;
    width: 37%;
    padding-left: 10px;
    padding-bottom: 9px;
 
}
.careerBackground{
	background-image: url('/assets/images/career_watermark.png');
	height: 80vh;
	background-size: 100% auto;
	background-size: cover;
    background-position: 50% 50%;
}


#bioDiv{ 
	padding-top: 20px;
    width: 100%;

}

body{
	background-color: transparent;
}
#bioTitle{
	background-color: red;
    z-index: 1;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: helvetica;
}
#careerAquirements{

}
.careerBullets{
	color: grey;
    margin-left: 40px;
    font-size: 16px;
    font-family: helvetica;
    margin-right: 40px;
    line-height: 29px
}

#aquirementsTitle{
	margin-left: 40px;
    font-family: helvetica;
    margin-top: 40px;

}
#bioForm{
	width: 100%;
    margin-bottom: 0px;
    border: 1px solid #080808;
    border-radius: 1px;
    height: 30vh;
    margin-top: 10px;
    background: url(/assets/images/pencil.png) no-repeat 10px 10px;
    background-color: white;
    font-family: helvetica;
    font-size: 20px;
    padding-left: 46px;

}
.bioButton{
	background-color: red;
    font-size: 17px;
    font-family: helvetica;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}
.careerUrlField {
    display: inline-flex; 
    margin-bottom: 11px;
    
}


.buttonDiv{
    background-color: #414142;
    text-align: right;

}

#bioContainer{

    margin-top: 35px;
    padding-top: 17px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 1%;
    width: 80%;
    margin-left: 10%;
    background-color:  #bfbebe;
}


.careerUrlButton{
	background-color: red;
    font-size: 17px;
    font-family: helvetica;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}	

.careerUrlCaption{
	color: grey;
    text-align: center;
    font-size: 13px;
    font-family: helvetica;


}

#profilePic{
	text-align: center;
	background-color: #e6e5e5;
	border: 1px solid #fff;
    border-radius: 1px;
}
#careerUrlDiv{
    display: inline-flex;
    
    
}
.thumbnailDiv{
	background-color: transparent;
    border: none;
    max-width: 21%;
}
#aquirementsDiv{
	padding: 20px;
	text-align: left;
}

.radioButtons{
    margin-bottom: 28px;
    margin-top: 20px;
    color: grey;
}
#profileImage{
    width: 70%;
}

@media screen and (max-width: 1198px){
    #profileImage{
        width: 75%;

    }
}





