
.careerBackground{
	background-image: url('/assets/images/career_watermark.png');
	height: 80vh;
	background-size: 100% auto;
	background-size: cover;
    background-position: 50% 50%;
}


#bioDiv{ 
	padding-top: 20px;
}

#div2 {
	background: #8b8b8b; 
	
}
#div3 {
	background: #343333; 
	

}
body{
	background-color: transparent;
}
#bioTitle{
	background-color: red;
    z-index: 1;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: helvetica;
}
#careerAquirements{

}
.careerBullets{
	color: grey;
    margin-left: 40px;
    font-size: 16px;
    font-family: helvetica;
    margin-right: 40px;
}

#aquirementsTitle{
	margin-left: 40px;
    font-family: helvetica;

}
#bioForm{
	width: 100%;
    margin-bottom: 0px;
    background-color: #e2e2e2;
    border: 1px solid #080808;
    border-radius: 1px;

}
.bioButton{
	background-color: red;
    font-size: 17px;
    font-family: helvetica;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}
.careerUrlField {
    display: inline-flex; 
    margin-bottom: 11px;
    
}


.buttonDiv{
    background-color: #414142;
    text-align: right;
}


#github{
	background: url(/assets/images/githubCareer.png) no-repeat 8px 8px;
    height: 50px;
    font-family: helvetica;
    font-size: 16px;
    background-color: #414142;
    padding-left: 55px;
    color: white;
    width: 100%;
}


.careerUrlDiv{
	text-align: center;
	padding-top: 20px;
}

.careerUrlButton{
	background-color: red;
    font-size: 17px;
    font-family: helvetica;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}	

.careerUrlCaption{
	color: grey;
	
}










