	.Titlebar_title {
		text-align: center;
		color: #DFF0D8;
		margin-top: 70px;
		margin-bottom: 4%;
		font-size: 70pt;
		font-style: bold;
		border-top: 2px #CCCCCC solid;
		border-bottom: 2px #CCCCCC solid;
	}



	