#navBar {
	background-color: black;
	height: 84vh;
	width: 70%;
<<<<<<< HEAD

}








@media screen and (max-width: 768px){



}


@media screen and (max-width: 640px){




}
=======
}

>>>>>>> 70a9f5a76141806d635bc7920ea7679b26eb29aa
