#HomePage_logo{
	z-index: 1; 
	position: absolute; 
	padding-top: 6%;
    padding-right: 4%;
    padding-left: 4%;
    
	
}
#demoModal-logo{
	margin: 40px 0px;
}

.demoModal-header {
	border-bottom-color: #EEEEEE;
	background-color: #343333;
	padding: 0px;
	margin: 0px;
}

.demoButtons {
	text-align: center;
	width: 27.333%;
	margin: 20px 3%;
	padding: 10px 0px;
	background-color: red;
	border: none;
}
#demoInstructions {
	text-align: center;
	font-size: 15px;
}
#HomePage_login{
	z-index: 1; 
	position: absolute; 
	padding-top: 6%;
    padding-right:5%;
    padding-left: 7%;
	right: 0px;
	max-width: 100%;

}

@media screen and (max-width: 767px){
	#HomePage_logo{
		position: static; 
		top: 0px; 
		left: 0px;
		padding-top: 8%;
    	padding-right: 4%;
    	padding-left: 4%;
    	padding-bottom: 0%;
		max-width: 100%;
		background-color: black;
	}

	#HomePage_logoDiv{
		background-color: black;
		margin-right: -1px;
	}

	#HomePage_login {
   z-index: 1;
    position: static;
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 12%;
    padding-left: 1%;
    left: 0px;
    max-width: 57%;
	}
}


