#userFormDiv {
	color: black;
}
.adminUserPageCol1{
	width:33.333%;
}

.adminUserPageCol2{
	width:33.333%;
}

.adminUserPageCol3{
	width:33.333%;
}

.adminSectionPageCol1{
	width:30%;
}

.adminSectionPageCol2{
	width:30%;
}

.adminSectionPageCol3{
	width:20%;
}

.adminSectionPageCol4{
	width:20%;
}
