#userFormDiv {
	color: black;
}
.adminUserPageCol1{
	width:20%;
}

.adminUserPageCol2{
	width:20%;
}

.adminUserPageCol3{
	width:20%;
}

.adminUserPageCol4{
	width:20%;
}

.adminUserPageCol5{
	width:10%;
}

.adminUserPageCol6{
	width:10%;
}

.adminSectionPageCol1{
	width:20%;
}

.adminSectionPageCol2{
	width:20%;
}

.adminSectionPageCol3{
	width:20%;
}

.adminSectionPageCol4{
	width:20%;
}

.adminSectionPageCol5{
	width:10%;
}

.adminSectionPageCol6{
	width:10%;
}