body{
	font-family: 'Roboto Condensed', sans-serif;	
	color: #fcfbfb;
}

#attendance {
	background-color: #181818;
}
#homework {
	background-color: #302e2e;
}
.remove-all-margin-padding{
	padding: 0 !important;
   margin: 0;
}
#syllabus{
	background-color: #8a8a8a;	
}
#projects{
	background-color: #cdcbcb;	
}
#feedback{
	background-color: #cc0000;	
}
#career{
	background-color: #990000;	
}
#width{
	width: 100%;
}


@media screen and (max-width: 767px){

.remove-all-margin-padding {
    margin-top: -6px;
    margin-right: -1px;
    margin-bottom: 0px;
    margin-left: 0px;
}
}
