body{
	font-family: 'Roboto Condensed', sans-serif;	
	color: #fcfbfb;
}


.remove-all-margin-padding{
	padding: 0 !important;
   margin: 0;
}

#width{
	width: 100%;
}


@media screen and (max-width: 767px){

.remove-all-margin-padding {
    margin-top: -6px;
    margin-right: -1px;
    margin-bottom: 0px;
    margin-left: 0px;
}
}
