body{
/*	background-image: url("../images/grey_@2X.png");
*/
/*	max-width: 1100px;
	text-align: center;
	margin: 0 auto;*/
	font-family: 'Roboto Condensed', sans-serif;	
	background-color: #FAFAFA;
}



/*
font-family: 'Open Sans Condensed', sans-serif;

*/