.Application_main: {
	align-items: center;
	margin: 0 auto;
	position: relative;
	color:red;
}.Panel_panelDiv{
	height: 100vh;
  display: inline-block;
  width: 100%;
}
.Panel_imageWrapper{
	position: relative;
	top: 58%;
	transform: translateY(-50%);
	float: right;
}
.Panel_panelImg{
  float: right;
  max-height: 100%;
  margin-bottom: 10%;
}

.Panel_h5{
	text-align: center;
	position: relative;
	font-size: initial;
}

.Panel_h4{
  color: white;
  float: right;
}

.remove-all-margin-padding{
  padding: 0 !important;
   margin: 0;
}

@media screen and (max-width: 767px){

  .remove-all-margin-padding {
      margin-top: -6px;
      margin-right: -1px;
      margin-bottom: 0px;
      margin-left: 0px;
  }


  .Panel_panelDiv{
    height: 25vh;
  }

  .Panel_imageWrapper{
    top: 50%;
    transform: translateY(-50%);
    float: right;
    height: 100%;
    width: 100%
  }
  .Panel_panelImg {
    height: 100%;
  }

  .Panel_h5{
    font-size: 21px;
    line-height: 161px; 
  }

}

@media screen and (max-width: 353px){
  .Panel_h5{
    font-size: 20px;
    line-height: 7;
  }
  
}

#HomePage_logo{
	z-index: 1; 
	position: absolute; 
	padding-top: 4%;
    padding-right: 4%;
    padding-left: 4%;
	
}
#HomePage_login{
	z-index: 1; 
	position: absolute; 
	padding-top: 7%;
    padding-right:5%;
    padding-left: 7%;
	right: 0px;

}

@media screen and (max-width: 767px){
	#HomePage_logo{
		z-index: 1; 
		position: static; 
		top: 0px; 
		left: 0px;
		padding-top: 8%;
    	padding-right: 4%;
    	padding-left: 4%;
    	padding-bottom: 0%;
		max-width: 100%;
		background-color: black;
	}

	#HomePage_logoDiv{
		background-color: black;
		margin-right: -1px;
	}

	#HomePage_login {
    z-index: 1;
    position: static;
    padding-top: 0%; 
    padding-right: 3%;
    padding-bottom: 12%;
    padding-left: 5%;
    left: 0px; 
    max-width: 46%;
	}

	/*What element does this style? -nlp*/
	.remove-all-margin-padding { 
    margin-top: -6px;
    margin-right: -1px;
    margin-bottom: 0px;
    margin-left: 0px;
	}
}


#navBar {
	background-color: black;
	height: 85vh;
	width: 70%;
}.NavBarLink_linkText{
	color: #ddd7d7;
	font-size: 14px;
	padding-left: 40px;
}

.NavBarLink_imageDiv{
	display: inline-flex;
}

.NavBarLink_linkDiv{
	background-color: black;
	padding-top: 1%;
}#logoutBar_logo{
	z-index: 1; 
	position: absolute; 
	padding-top: 1%;
	background-color: #2f2f2f;
	padding-right: 17px;
	padding-bottom: 17px;
	padding-left: 1%;
  	
}
#logoutBar_textDiv{
	z-index: 1; 
	position: absolute; 
	right: 0px;
	color: black;
}
#logoutBar_username, #logoutBar_logout {
	color: black;
	display: inline-block;

}

#logoutBar{
	background-color: #c30c0c;
	position: static;
	height: 22vh;


}

@media screen and (max-width: 767px){
	#logoutBar_logo{
		z-index: 1; 
		position: static; 
		top: 0px; 
		left: 0px;
		max-width: 100%;
		background-color: #ccc;
	}

	#logoutBar{
		background-color: #ccc;
		height: 15vh;
	}

	#logoutBar_textDiv {
    z-index: 1;
    position: static;
    left: 0px; 
    max-width: 46%;
    color: black;
	}
}




/*#logoutBar {
	background-color: #ccc;
	height: 15vh;
}

#logoutBar_textDiv {
	z-index: 1; 
	position: absolute; 
	right: 0px;

}

#logoutBar_logo{
	z-index: 1; 
	position: absolute; 

	
}

#logoutBar_username, #logoutBar_logout {
	color: black;
	display: inline-block;
}

@media screen and (max-width: 767px){
	#logoutBar_logo{
		z-index: 1; 
		position: static; 
		top: 0px; 
		left: 0px;
		max-width: 100%;
	}

	#logoutBar{
		background-color: #ccc;
		margin-right: -1px;
	}

	#logoutBar_textDiv {
    z-index: 1;
    position: static;
    left: 0px; 
    max-width: 46%;
	}
}
*/
/*# sourceMappingURL=webpackStyle.css.map*/