.panelImage{
	height: 100vh;

}
.panelImg{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	float: right;
}
.remove-all-margin-padding{
	padding: 0 !important;
  	margin: 0 !important;
}

h5{
	text-align: center;
	position: relative;
	top: 33%;
  font-size: initial;
  display: inherit;
}


