.Panel_panelDiv{
	height: 100vh;
  width: 100%;
}
.Panel_imageWrapper{
	position: relative;
	top: 58%;
	transform: translateY(-50%);
	float: right;
}
.Panel_panelImg{
  float: right;
  max-height: 100%;
  margin-bottom: 10%;
}

.caption{
	text-align: center;
	position: relative;
	font-size: initial;
  color: white;
  
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.60s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}





@media screen and (max-width: 767px){

  .Panel_panelDiv{
    height: 25vh;
  }

  .Panel_imageWrapper{
    top: 50%;
    transform: translateY(-50%);
    float: right;
    height: 100%;
    width: 100%
  }
  .Panel_panelImg {
    height: 100%;
    margin-bottom: 0px;
  }

  .caption{
    font-size: 21px;
    padding-top: 3%;
   
  }

}

@media screen and (max-width: 353px){
  .caption{
    font-size: 20px;
    
  }
  
}

