.tableData {
	 display: inline-block;
    text-align: center;
    color: black;
    margin: 0px;
    overflow: hidden;
    height: 52px;
    font-size: 15px;
    line-height: 53px;
    border-bottom: 1px solid #d2cfcf;

}

#hwButton{
	color: #fff;
    background-color: #de0303;
    border-color: #868585;
    font-size: small;
    padding-top: 1px;
    padding-bottom: 3px;
}
