.tableData {
	display: inline-block;
	text-align: center;
	color: black;
	width: 25%;

	margin: 0px;
	overflow: hidden;
	background-color: #ccc;
	border-bottom: 3px;
	border color: white;
	height: 36px;
	font-size: 18px;
	line-height: 36px;

}
