

	h4{
		color:black;
	}
	.multRads2{
		margin-bottom: 3%

	}

	.absRadQ{
		font-size: 22px; 
		margin-left:8%;
		
	}
	.multRads2{
		margin-left: 10%;
	}
	.radio-inline.yesNo{
		color:black;
		margin-right:22px;
		padding-left: 12px;
		
	}


@media screen and (max-width: 640px){

	.absRadQ{
		margin-left: 8%;
		font-size: 22px;
		margin-right: 2%;

	}
	.multRads2{
		margin-bottom: 3%;
	}


}

@media screen and (max-width: 960px){
	.absRadQ{
		font-size: 22px;
		margin-left: 8%;
		margin-right: 3%;

	}
	#resetButt{
		background-color: gray;
		font-size: 22px;
		margin-left: 4%
	}
	#submitButt{
		font-size: 22px;

	}
	.multRads2{
		margin-bottom: 3%;
	}


}