	
#assignmentTeacherDiv{
	padding-top: 30px;
    padding-right: 57px;
    padding-bottom: 72px;
    padding-left: 57px;
    background-color: #e4e4e4;
}



#createAssignmentButt{
	background-color: red;
	color:white;
}

.assignTeachRemovePad{
	padding-left: 0;
	padding-right: 0;
}