.nav-pills>li.active>a{
	background-color: #DE0303;
	pointer-events: none;
}
.menuButtons{
	color:black;
	font-size: 20px;
}

@media screen and (max-width: 768px){
	.menuButtons{
		font-size: 12px;
	}

}

@media screen and (max-width: 640px){
	.menuButtons{font-size: 12px;
	}
}





