
.remove-all-margin-padding {
    padding: 0 !important;
    margin: 0;
    
}
#bigFeedbackDiv{
	overflow-y:auto;
}

.feedbackBackground{
	background-image: url('/assets/images/feedback_watermark.png');
	height: 80vh;
	background-size: 100% auto;
	background-size: cover;
    background-position: 50% 50%;
}

.studentFeedback{
	border-radius: 100%;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;


}
#absenceForm{
	border-radius: 100%;
	margin-left: 130%;
	margin-top: 70%;
}
#tutorSession{
	border-radius: 100%;
	margin-left: 220%;
	margin-top: -20%;
}
#exampleSelect1{
	width:70%;
	margin-left: 20%;
}
#exampleSelect2{
	width:0%;
	margin-left: 20%;
}
label{
	font-size: 150%;
	color:black;
	margin-left: 10%;

}
h1{
	color:black;
	margin-left: 10%;

}
h2{
	color:#343333;
	margin-left: 3%;
}
h3{
	margin-left: 6%;
}
  input[type=radio] {
    border: 0px;
    width: 75%;
    height: 1.5em;

}
#feedbackInputQuestion{
	color: black;
	font-size: 210%;
	margin-left: 3%;

}
#usr{
	width:80%;
}
.radio-inline{
	color:black;



}
#inputQuesText{
	color:black;
	margin-left: 5%;
	font-family: 'Roboto Condensed', sans-serif;
}



@media screen and (max-width: 640px){
	.studentFeedback{
		height:50%;
		margin-left: 25%;
		font-size: 26px;

	}
	#exampleSelect1{
		width:90%;
		margin-left: 4%;
	}
	#exampleSelectText1{
		margin-left: 3%;
	}
	#exampleSelect2{
		width:90%;
		margin-left: 4%;
	}
	#exampleSelectText2{
		margin-left: 3%;
	}
	.questionTextRad{
		font-size: 20px;
		margin-left: 8%;
		margin-right: 6%;

	}
	.radio-inline{
		padding-left: 15px;
	}
	.rightSide{
		margin-left: 65%;
		
	}

	
	
}



