
.remove-all-margin-padding {
    padding: 0 !important;
    margin: 0;
    /*overflow: auto;*/
}


.feedbackBackground{
	background-color:#d0cece;
	height: 80vh;
	background-size: 100% auto;
	background-size: cover;
    background-position: 50% 50%;
}

#studentFeedback{
	border-radius: 100%;
	margin-left: 170%;
	margin-top: 60%;
	display: inline-block;
}
#absenceForm{
	border-radius: 100%;
	margin-left: 130%;
	margin-top: 70%;
}
#tutorSession{
	border-radius: 100%;
	margin-left: 220%;
	margin-top: -20%;
}
#exampleSelect1{
	width:60%;
	margin-left: 20%;
}
#exampleSelect2{
	width:60%;
	margin-left: 20%;
}
label{
	font-size: 100%;

}

@media screen and (max-width: 640px){
	#studentFeedback{
		height:50%;
		margin-right: 20%;

	}
	#absenceForm{
		height:50%;
		margin-right: 20%;
	}

}




