
.remove-all-margin-padding {
    padding: 0 !important;
    margin: 0;
    /*overflow: auto;*/
}


.feedbackBackground{
	background-image: url('/assets/images/feedback_watermark.png');
	height: 80vh;
	background-size: 100% auto;
	background-size: cover;
    background-position: 50% 50%;
}

.threeOrbs{
	margin-left: 17%;
    max-width: 64%;
}



