.AttendancePage_AttendanceSessionViewCol1{
	width: 25%;
}

.AttendancePage_AttendanceSessionViewCol2{
	width: 40%;
}

.AttendancePage_AttendanceSessionViewCol3{
	width: 10%;
}

.AttendancePage_AttendanceSessionViewCol4{
	width: 25%;
}