h1{
	color: black;
}
.instructor{
	color: black;
}




#sel1{
	margin-left: 8%;
	width:84%;
}
.sel1{
	margin-left: 8%;
	color: black;
	font-size: 22px;
	
}
#AbsQuest{
	color: black;
	font-size: 22px;

}
#submitAbs{
		background-color: #FF0000;
		font-size: 18px;
}

#resetButtAbs{
	background-color: gray;
	font-size: 18px;
	margin-left: 7%;
	font-size: 18px;
}




@media screen and (max-width: 768px){
	
	#resetButtAbs{
		margin-left: 5%;
		font-size: 18px;
	}

	#submitAbs{
		font-size: 18px;
	}
	#sel1{
		margin-left: 8%;
		width:84%;
	}
	.sel1{
		margin-left: 8%;
		font-size: 20px;
	}
	.absenceInput{
		margin-left: 2%;
		width:96%;
	}
	#AbsQuest{
		color: black;
		font-size: 20px;
		margin-left: 2%;
	}
	#submitAbs{
		background-color: #FF0000;
	}

	
}

@media screen and (max-width: 640px){
	#sel1{
		margin-left: 7%;
		width:86%;
	}
	.sel1{
		margin-left: 7%;
		color:black;
		font-size:13px; 
	}
	#AbsQuest{
		font-size: 13px;
		margin-left: 6%;
		margin-right:11px;
	}
	#submitAbs{
		background-color:#FF0000;
		font-size: 13px;
	}
	#resetButtAbs{
		font-size: 13px;
	}
	.absenceInput{
		margin-left: 5%;
	}
	

	
}