h1{
	color: grey;
}
.instructor{
	color: grey
}

#sel1{
	margin-left: 2%;
	width:88%;
}
.sel1{
	margin-left: 2%;
	color: grey;
	font-size: 15px;
	
}
#AbsQuest{
	color: grey;
	font-size: 15px;
	margin-left:8%;

}
#submitAbs{
		background-color: #FF0000;
		font-size: 16px;
		color: white;
		margin-bottom: 30px;
}

#resetButtAbs{
	background-color: gray;
	font-size: 16px;
	margin-left:5%;
	color: white;
	margin-bottom: 30px;
	margin-right: 10px;
}
.absenceInput{
	margin-left: 2%;
	width: 88%;
}
#AbsQuest{
	margin-left: 2%;
}




@media screen and (max-width: 768px){
	
	#resetButtAbs{
		margin-left: 5%;
		font-size: 18px;
	}

	#submitAbs{
		font-size: 18px;
	}
	#sel1{
		margin-left: 2%;
		width:96%;
	}
	.sel1{
		margin-left: 2%;
		font-size: 20px;
	}
	.absenceInput{
		margin-left: 2%;
		width:96%;
	}
	#AbsQuest{
		color: black;
		font-size: 20px;
		margin-left: 2%;
	}
	#submitAbs{
		background-color: #FF0000;
	}

	
}

@media screen and (max-width: 640px){
	#sel1{
		margin-left: 5%;
		width:90%;
	}
	.sel1{
		margin-left: 6%;
		color:grey;
		font-size:13px; 
	}
	#AbsQuest{
		font-size: 13px;
		margin-left: 6%;
		margin-right:11px;
	}
	#submitAbs{
		background-color:#FF0000;
		font-size: 13px;
	}
	#resetButtAbs{
		font-size: 13px;
	}
	.absenceInput{
		margin-left: 5%;
	}
	

	
}